<% current_admin_user.update_attribute(:last_active_at, Time.now) %>
<nav id="head-actions">
  <p class="header-info">
    Blacklist - Консолидированная база данных по автоарендаторам и водителям.
  </p>
  <ul>
      <li>  
         <a href="#" class=""><%= current_admin_user.name %></a>
      </li>
      <li>  
        <%= link_to "Выйти", destroy_admin_user_session_path, class: "modal" %>
      </li>
  </ul>
</nav>
