// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
$primary-color: #919191 !default;
$secondary-color: #f0f0f0 !default;
$text-color: #919191 !default;
$link-color: #38678b !default;
$section-header-text-color: $primary-color !default;
$current-menu-item-background: lighten($primary-color, 12%) !default;
$hover-menu-item-background: lighten($primary-color, 12%) !default;
$table-stripe-color: lighten($primary-color, 57%) !default; 
$table-selected-color: #d9e4ec !default;
$error-color: #932419 !default;
$horizontal-page-margin: 0px;
@import "active_admin/mixins";
@import "fancybox";
@mixin section-background {
  background: #1F2629;
}
@mixin light-button {
  color: #cfdde3;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  min-width: 110px;
  height: 40px;
  display: inline-block;
  background: #2f393c;
  background: -webkit-gradient(linear,0 0,0 100%,from(#2f393c),to(#1c2224));
  background: -webkit-linear-gradient(top,#2f393c,#1c2224);
  background: -moz-linear-gradient(top,#2f393c,#1c2224);
  background: -o-linear-gradient(top,#2f393c,#1c2224);
  background: linear-gradient(to bottom,#2f393c,#1c2224);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2f393c',endColorstr='#ff1c2224',GradientType=0);
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


@mixin dark-button {
  color: #cfdde3;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  min-width: 110px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  background: #2f393c;
  background: -webkit-gradient(linear,0 0,0 100%,from(#2f393c),to(#1c2224));
  background: -webkit-linear-gradient(top,#2f393c,#1c2224);
  background: -moz-linear-gradient(top,#2f393c,#1c2224);
  background: -o-linear-gradient(top,#2f393c,#1c2224);
  background: linear-gradient(to bottom,#2f393c,#1c2224);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2f393c',endColorstr='#ff1c2224',GradientType=0);
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@import "active_admin/base";


textarea {
  height: 20px;
}

body.active_admin form fieldset ol > li label {
  display: block;
  width: 20%;
  float: left;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

body.active_admin a, body.active_admin a:link, body.active_admin a:visited{
  color: #919191;
  text-decoration: none;
  font-size: 14px;
}


body.active_admin form input[type=submit] {
  color:#ffdab9;
  text-align: center;
  width: 100%;
  padding: 14px 22px;
  background: #ce7416;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#ce7416),color-stop(.5,#c96a14),color-stop(.501,#bd5a03),color-stop(1,#b65103));
  background: -webkit-linear-gradient(top,#ce7416 0%,#c96a14 50%,#bd5a03 50.1%,#b65103 100%);
  background: -moz-linear-gradient(top,#ce7416 0%,#c96a14 50%,#bd5a03 50.1%,#b65103 100%);
  background: -ms-linear-gradient(top,#ce7416 0%,#c96a14 50%,#bd5a03 50.1%,#b65103 100%);
  background: linear-gradient(to bottom,#ce7416 0%,#c96a14 50%,#bd5a03 50.1%,#b65103 100%);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce7416',endColorstr='#b65103',GradientType=0);
  border-top: 1px solid #fb9b46;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 11px;
  line-height: 12px;
  text-transform: uppercase;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 5px;
}

body.active_admin form input[type=submit]:not(.disabled):hover {
  background: #d97b18;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#d97b18),color-stop(.5,#d57116),color-stop(.501,#ce6204),color-stop(1,#c95804));
  background: -webkit-linear-gradient(top,#d97b18 0%,#d57116 50%,#ce6204 50.1%,#c95804 100%);
  background: -moz-linear-gradient(top,#d97b18 0%,#d57116 50%,#ce6204 50.1%,#c95804 100%);
  background: -ms-linear-gradient(top,#d97b18 0%,#d57116 50%,#ce6204 50.1%,#c95804 100%);
  background: linear-gradient(to bottom,#d97b18 0%,#d57116 50%,#ce6204 50.1%,#c95804 100%);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d97b18',endColorstr='#c95804',GradientType=0);
}

body.active_admin.logged_out #login a {
  margin-left:10px;
}

#public-links {
  text-align:center;
}

body.active_admin #header #utility_nav {
  position: absolute;
  top: 15px;
  right: 10px;
  float: none;
  color: #919191 !important;
}

body.active_admin {
  background: #061115;
  font: normal 10px 'Helvetica Neue',Helvetica,Arial,Sans-Serif;
  color: #fff;
}

body.active_admin form fieldset ol > div.has_many {
  margin: 50px 20px;
  @include rounded(4px);
  background-color: #ccc;
}

body.active_admin table.index_table tr.even td  {
  background: #373E44;
}

body.active_admin ul {
  list-style-type: none;
}

.header-item.tabs#tabs{
  width: 100%;
  background: #0e2027;
  background: -webkit-gradient(linear,0 0,0 100%,from(#0e2027),to(#0f171d));
  background: -webkit-linear-gradient(top,#0e2027,#0f171d);
  background: -moz-linear-gradient(top,#0e2027,#0f171d);
  background: -o-linear-gradient(top,#0e2027,#0f171d);
  background: linear-gradient(to bottom,#0e2027,#0f171d);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0e2027',endColorstr='#ff0f171d',GradientType=0);
  position: relative;
  height: 50px;
  padding-top: 20px;
  li {
    a {
      color: #cfdde3;
      font-size: 2em;
      line-height: 30px;
      font-weight: 100;
      float: left;
      padding: 0 30px;
      border-left: 1px solid #2d4149;
      &:hover {
        color: #fff!important;
      }
    }
  }
}

a:hover {
  color: #fff!important;
}

#admin_user_remember_me_input {
  display:none;
}

#titlebar_left {
  display: none !important;
}

.logo {
  display: block;
  margin: 0 auto !important;
  height: 90px;
  width: 400px;
  background: url('/images/logo_black.jpg')

}

body.active_admin .sidebar_section label {
  font-size: 12px;
}

body.active_admin table tr td {
  font-size: 14px;
  color: #919191 !important;
}

body.active_admin #header {
  height: 100%;
  padding-left:0px;
}

input, textarea {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  padding: 5px 0;
  background-color: #283235 !important;
  border-style: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: none;
}

#login h2 {
  display: none;
}

body.active_admin.logged_out #content_wrapper #active_admin_content {
  width: 100%;
}

body.active_admin a, body.active_admin a:link, body.active_admin a:visited {
  color: #919191;
  text-decoration: none;
}

body.active_admin.logged_out #content_wrapper {
  width: 454px;
}

body.active_admin form fieldset ol > li label {
  margin-top: 12px;
}

body.active_admin #header ul.tabs > li.current > a {
  color: #CB6E15;
  background: none;
}

body.active_admin #header ul.tabs > li:hover > a {
  background: none;
  color: #CB6E15;
}

body.active_admin #utility_nav a {
  text-transform: uppercase;
  font-size: 12px;
  color: #aaa;
}

body.active_admin #utility_nav li {
  display: inline-block;
  margin-right: 4px;
  position: relative;
}

body.active_admin.logged_out #content_wrapper #active_admin_content {
  padding: 0px;
}

body.active_admin.logged_out #content_wrapper #active_admin_content {
  background: none;
}

body.active_admin .table_tools {
  display: none;
}

body.active_admin #title_bar {
}

body.active_admin table.index_table th,  {
  color: #cfdde3;
  font-size: 16px;
  font-weight: 500;
  height: 44px;
  background: #1f2629;
  border-top: 1px solid #000;
  border-right: 1px solid #16191d;
  border-bottom: 1px solid #000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: default;
}

body.active_admin .sidebar_section label {
  color: #919191;
}

body.active_admin table.index_table th a, body.active_admin table.index_table th a:link, body.active_admin table.index_table th a:visited {
  color: #cfdde3 !important;
  font-weight: 600;
}

body.active_admin form.filter_form a.clear_filters_btn, body.active_admin form fieldset.buttons li.cancel a, body.active_admin form fieldset.actions li.cancel a {
  color: #cfdde3;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  min-width: 110px;
  line-height: 40px;
  height: 40px;
  display: block;
  background: #2f393c;
  background: -webkit-gradient(linear,0 0,0 100%,from(#2f393c),to(#1c2224));
  background: -webkit-linear-gradient(top,#2f393c,#1c2224);
  background: -moz-linear-gradient(top,#2f393c,#1c2224);
  background: -o-linear-gradient(top,#2f393c,#1c2224);
  background: linear-gradient(to bottom,#2f393c,#1c2224);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2f393c',endColorstr='#ff1c2224',GradientType=0);
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body.active_admin .sidebar_section > h3 {
  padding: 15px;
  color: #cfdde3;
  font-size: 16px;
  font-weight: 500;
  height: 44px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: default;
}

body.active_admin .panel h3 {
  display: none;
}

body.active_admin #header ul.tabs li a {
  &:hover {
    color: #fff!important;
  }
}

body.active_admin .attributes_table table th {
  color: #919191;
}

.grad-spacer {
    height: 5px;
    background: #bd5a02;
    background: -webkit-gradient(linear,0 0,100% 0,from(#bd5a02),to(#1e4c5f));
    background: -webkit-linear-gradient(left,#bd5a02,#1e4c5f);
    background: -moz-linear-gradient(left,#bd5a02,#1e4c5f);
    background: -o-linear-gradient(left,#bd5a02,#1e4c5f);
    background: linear-gradient(to right,#bd5a02,#1e4c5f);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbd5a02',endColorstr='#ff1e4c5f',GradientType=1)
}

#utility_nav {
  display:none !important;
}

#head-actions {
  font-size: 1.1em;
  text-transform: uppercase;
  background: #0d0d0d;
  width: 100%;
  overflow: hidden;
  .header-info {
    display: inline;
    margin: 5px 12px 5px 20px;
    color: #919191;
    font-size: 12px;
    float: left;
  }
}

#head-actions ul {
    float: right
}

#head-actions li {
    margin: 5px 12px 5px 0;
    padding-left: 12px;
    float: left;
    border-left: 1px solid #3c3e3f
}

#head-actions li:first-child {
    border-left: none
}

#head-actions a {
    color: #919191;
    font-size: 12px;
}

#head-actions a.active {
    color: #bd5a02;
    border-bottom: 1px solid #bd5a02;
    padding: 0 13px 10px;
    margin: 0 -13px;
    white-space: nowrap
}

body.active_admin table.index_table th a, body.active_admin table.index_table th a:link, body.active_admin table.index_table th a:visited {
  font-size: 16px;
}

.flash {
  display: none;
}

.inputs legend {
  display: none;
}

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   body.active_admin {
//      .status_tag { background: #6090DB; }
//   }
//
// Notice that Active Admin CSS rules are nested within a
// 'body.active_admin' selector to prevent conflicts with
// other pages in the app. It is best to wrap your changes in a 
// namespace so they are properly recognized. You have options
// if you e.g. want different styles for different namespaces:
//
// .active_admin       applies to any Active Admin namespace
// .admin_namespace    applies to the admin namespace (eg: /admin)
// .other_namespace    applies to a custom namespace named other (eg: /other)
