// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
$primary-color: #3C3C3C !default;
$secondary-color: #f0f0f0 !default;
$text-color: #323537 !default;
$link-color: #38678b !default;
$section-header-text-color: $primary-color !default;
$current-menu-item-background: lighten($primary-color, 12%) !default;
$hover-menu-item-background: lighten($primary-color, 12%) !default;
$table-stripe-color: lighten($primary-color, 57%) !default; 
$table-selected-color: #d9e4ec !default;
$error-color: #932419 !default;
@import "active_admin/mixins";
@mixin section-background {
  background: #f2f2dc;
  @include rounded(4px);
  @include inset-shadow(0,1px,4px, #ddd);
}
@import "active_admin/base";

body.active_admin {
  font-family: Verdana;
}

textarea {
  height: 15px;
}

body.active_admin #header #utility_nav {
  margin-top: 14px;
}

body.active_admin.logged_out {
  background: #3C3C3C;
}

body.active_admin form fieldset ol > div.has_many {
  margin: 50px 20px;
  @include rounded(4px);
  background-color: #ccc;
}

body.active_admin table.index_table tr.even td  {
  background: #f2f2dc;
}

#admin_user_remember_me_input {
  display:none;
}

.logo {
  float:left;
  margin-right: 40px !important;
  margin-left: 25px !important;
  height: 65px;
  width: 360px;
  background: url('/images/logo.png')

}

body.active_admin #header ul.tabs {
  margin-top: 14px;
  height: 50px;
  float: none;
  li {
    font-size: 14px;
  }
}

body.active_admin #header {
  height: 60px;
  padding-left:0px;
}

input, textarea {
  background-color: rgb(250, 255, 189);
  background-image: none;
  color: rgb(0, 0, 0);
}

#login h2 {
  display: none;
}

body.active_admin.logged_out #content_wrapper #active_admin_content {
  width: 395px;
}

body.active_admin a, body.active_admin a:link, body.active_admin a:visited {
  color: #3c3c3c;
  text-decoration: none;
}

body.active_admin.logged_out #content_wrapper {
  width: 455px;
}

body.active_admin form fieldset ol > li label {
  margin-top: 6px;
}

body.active_admin #header ul.tabs > li.current > a {
  color: #faffbd;
  background: none;
}

body.active_admin #header ul.tabs > li:hover > a {
  background: none;
  color: #faffbd;
}

body.active_admin #header a, body.active_admin #header a:link {
  color: #fff;
}

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   body.active_admin {
//      .status_tag { background: #6090DB; }
//   }
//
// Notice that Active Admin CSS rules are nested within a
// 'body.active_admin' selector to prevent conflicts with
// other pages in the app. It is best to wrap your changes in a 
// namespace so they are properly recognized. You have options
// if you e.g. want different styles for different namespaces:
//
// .active_admin       applies to any Active Admin namespace
// .admin_namespace    applies to the admin namespace (eg: /admin)
// .other_namespace    applies to a custom namespace named other (eg: /other)
